$card-color: red;
$card-footer-background-color: yellow;
@import "~bulma/bulma";
.bounce {
    animation: bounce 1s;
}

@keyframes bounce {
    0% {
        transform: rotate(0deg) scale(1.0);
    }
    33% {
        transform: rotate(12deg) scale(1.2);
    }
    67% {
        transform: rotate(-12deg) scale(0.8);
    }
    100% {
        transform: rotate(0deg) scale(1.0);
    }
}